body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
  width: 100vw;
  height: 95vh;
  bottom: 0;
  position: fixed;
}

.navbar {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 5vh;
  background-color: #323232;
}